body {
    text-align: center;
    background-color: lavender;
    color: white;
}

h1{
    color: grey;
    text-shadow: 1px 1px white;
    margin-top: 2%;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: navy;
    font-size: 20px;
    display: block;
    padding: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
}

table {
    width: 50%;
    margin-left: 24%;
    margin-right: 24%;
    border-style: ridge;
    border-color: black;
    alignment-baseline: middle;
}

tr {
    width: 80%;
    border-style: ridge;
    border-color: black;
}

td {
    color: navy;
    font-size: 20px;
    background-color: silver;
    padding: 2%;
    border-style: ridge;
    border-color: black;
}