body
{
    text-align: center;
    width: 100%;
}
.nav-link:hover
{
	background-color: rgba(0, 0, 0, .5);
	border-radius: 15px;
	color: black;
	text-decoration: none;
}
table
{
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-spacing: 0 2em;
    border-collapse: separate;
}
tr
{
    margin-bottom: 10%;
    border-spacing: 0 8em;
    border-collapse: separate;
    border: 1px solid black;
}
td
{
    border-spacing: 0 2em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1%;
}
.left
{
    border-left: 1px solid black;
    border-radius: 15px 0px 0px 15px;
}
.right
{
    border-right: 1px solid black;
    border-radius: 0px 15px 15px 0px;
}

.listing
{
    background-color: rgba(192, 192, 192, 0.5);
    border-right: solid black;
}

.listing:not(.right)
{
    border-right: solid black;
}